<div class="alert text-center" style="background-color: var(--dark-color);">
    <h1 class="mb-4">
        Welcome to Spoti-App!
    </h1>

    <p>
        I developed this Single Page Application (SPA) to practice my Angular knowledge inspired in
        <a href="https://www.udemy.com/course/angular-2-fernando-herrera/" target="_blank" class="text-success">Fernando Herrer Angular Course</a>.
    </p>

    <p>
        In this app you could see new Spotify releases and click them to listen the album and search artist to listen
        their top tracks.
    </p>

    <p class="text-warning">
        Spotify's widgets to play tracks take time to load so please wait for them.
    </p>

    <a
        routerLink="/new-releases"
        class="btn btn-outline-success"
    >Get started</a>

    <p class="mt-5">
        If you want to see more of my work check out
        <a href="https://www.jesusra.com/" target="_blank" class="text-success">my portfolio</a>.
    </p>
</div>